#################################
# Backend (.NET)
#################################
bin/
obj/
*.db
*.sqlite
*.db-shm
*.db-wal
*.user
*.suo

#################################
# Frontend (Angular)
#################################
node_modules/
dist/
.angular/
npm-debug.log*
yarn-error.log*

#################################
# Environment & Secrets
#################################
.env
.env.local

#################################
# IDE / OS
#################################
.vscode/
.idea/
.DS_Store
Thumbs.db
